<!DOCTYPE html>
<html>
<head>
  <title>Enfield</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= disqus_init %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>

<div class="container">
<%= breadcrumbs %>
  <%= yield %>
</div>

<%#= render 'shared/footer' %>

</body>
</html>
